

.custom-scrollbar::-webkit-scrollbar {
    width: 12px; /* ความกว้างของ scrollbar */
    height: 12px; /* ความสูงของ scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #1E1E1E; /* สี scrollbar thumb */
    border-radius: 10px; /* ขอบ scrollbar ให้โค้ง */
    border: 2px solid transparent; /* ช่วยให้ขอบไม่เหลี่ยม */
    background-clip: padding-box; /* ทำให้ขอบ scrollbar thumb ไม่ซ้อน */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent; /* สีพื้นหลังของ track */
}

/* Hover Effect */
.custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: #ffffff; /* เปลี่ยนสี thumb เมื่อ hover */

}
html {
    overflow-y: scroll;
  }

.scroll-container {
    overflow-anchor: none;
}